body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #93b1cc;
  background: linear-gradient(90deg, #93b1cc 0%, #29a0e3 100%);
  background: -webkit-linear-gradient(90deg, #93b1cc 0%, #29a0e3 100%);
  background: -moz-linear-gradient(90deg, #93b1cc 0%, #29a0e3 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}