.box {
  margin: auto;
  margin-top: 5rem;
  width: 300px;
  height: 300px;
  position: relative;
  font-size: 2rem;
  color: white;
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: rotate 10s infinite;
}

@keyframes rotate {
  12% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  37% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(270deg);
  }
  63% {
    transform: rotateX(0deg);
  }
  76% {
    transform: rotateX(90deg);
  }
  88% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(270deg);
  }
}

.box.show-front {
  transform: translateZ(-150px) rotateY(0deg);
}

.box.show-right {
  transform: translateZ(-150px) rotateY(-90deg);
}

.box.show-back {
  transform: translateZ(-150px) rotateY(-180deg);
}

.box.show-left {
  transform: translateZ(-150px) rotateY(90deg);
}

.box.show-top {
  transform: translateZ(-150px) rotateX(-90deg);
}

.box.show-bottom {
  transform: translateZ(-150px) rotateX(90deg);
}

.box__face {
  position: absolute;
  width: 300px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  /* border: 1px solid black; */
}

.box__face--front {
  background: hsla( 0, 100%, 50%, 0.7);
}

.box__face--right {
  background: hsla( 60, 100%, 50%, 0.7);
}

.box__face--back {
  background: hsla(120, 100%, 50%, 0.7);
}

.box__face--left {
  background: hsla(180, 100%, 50%, 0.7);
}

.box__face--top {
  background: hsla(240, 100%, 50%, 0.7);
}

.box__face--bottom {
  background: hsla(300, 100%, 50%, 0.7);
}

.radio-group {
  text-align: center;
}

.box__face--front {
  transform: rotateY(0deg) translateZ(150px);
}

.box__face--right {
  transform: rotateY(90deg) translateZ(150px);
}

.box__face--back {
  transform: rotateY(180deg) translateZ(150px);
}

.box__face--left {
  transform: rotateY(-90deg) translateZ(150px);
}

.box__face--top {
  transform: rotateX(90deg) translateZ(150px);
}

.box__face--bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.box {
  margin: auto;
  margin-top: 5rem;
  width: 300px;
  height: 300px;
  position: relative;
  font-size: 2rem;
  color: white;
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: rotate 10s infinite;
}

@keyframes rotate {
  12% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
    transform: rotateX(90deg);
  }
  37% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(270deg);
    transform: rotateX(270deg);
  }
  63% {
    transform: rotateX(0deg);
  }
  76% {
    transform: rotateX(90deg);
    transform: rotateY(90deg);
  }
  88% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(270deg);
    transform: rotateY(270deg);
  }
}

.box.show-front {
  transform: translateZ(-150px) rotateY(0deg);
}

.box.show-right {
  transform: translateZ(-150px) rotateY(-90deg);
}

.box.show-back {
  transform: translateZ(-150px) rotateY(-180deg);
}

.box.show-left {
  transform: translateZ(-150px) rotateY(90deg);
}

.box.show-top {
  transform: translateZ(-150px) rotateX(-90deg);
}

.box.show-bottom {
  transform: translateZ(-150px) rotateX(90deg);
}

.box__face {
  position: absolute;
  width: 300px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  /* border: 1px solid black; */
}

.box__face--front {
  background: hsla( 0, 100%, 50%, 0.7);
}

.box__face--right {
  background: hsla( 60, 100%, 50%, 0.7);
}

.box__face--back {
  background: hsla(120, 100%, 50%, 0.7);
}

.box__face--left {
  background: hsla(180, 100%, 50%, 0.7);
}

.box__face--top {
  background: hsla(240, 100%, 50%, 0.7);
}

.box__face--bottom {
  background: hsla(300, 100%, 50%, 0.7);
}

.radio-group {
  text-align: center;
}

.box__face--front {
  transform: rotateY(0deg) translateZ(150px);
}

.box__face--right {
  transform: rotateY(90deg) translateZ(150px);
}

.box__face--back {
  transform: rotateY(180deg) translateZ(150px);
}

.box__face--left {
  transform: rotateY(-90deg) translateZ(150px);
}

.box__face--top {
  transform: rotateX(90deg) translateZ(150px);
}

.box__face--bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face, .sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column, .sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}