#product-header {
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 1rem;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 7px 10px 5px -3px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  background-color: darkslategrey;
  color: white;
}

#latching-models {
  margin-left: 1rem;
}

#sp6t-col-12 {
  line-height: 0.5rem;
}

#ruggedized {
  color: darkgreen;
  font-size: large;
}

.about {
  text-align: center;
  font-weight: bold;
}