.product-card {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  box-shadow: 7px 10px 5px -3px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  /* animation: pulse 1s;
  animation-iteration-count: 10;
  animation-play-state: paused; */
  position: relative;
  overflow: hidden;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}


/* .product-card:hover {
  animation-play-state: running;
} */