.product-card {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  box-shadow: 7px 10px 5px -3px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
}


/* .product-card:hover {
  margin: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
} */